<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- <link rel="stylesheet" href="app.css"> -->
</head>
<body>
    <div id="app-root">
        <h1 v-if="cal">a</h1>
        <h1 v-else-if="cal">b</h1>
        <h1 v-else="val">c</h1>
        <h1>abdan</h1>
        <ul>
            <li v-for="(ninja,index) in ninjas">
                {{index}}=>{{ninja.name}}-{{ninja.age}}</li>
        </ul>
    </div>


    <script src="app.js"></script>
</body>
</html>